<script src="//unpkg.com/alpinejs"></script>


<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden gap-x-5 ml-12 lg:flex xl:gap-x-6 w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li class="contents">
          <a href="#" class="py-3 group [body:not(.home)_&amp;]:hover:text-primary block  px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page" href="/ask-one/" aria-label="Ask One">
            								<span class="relative block overflow-hidden" aria-hidden="true">
						<li class="contents">
				<a class="py-3 group [body:not(.home)_&amp;]:hover:text-primary" href="/ask-one/" aria-label="Ask One">
								<span class="relative block overflow-hidden" aria-hidden="true">
		<span class="inline-flex">
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 0ms">
					H
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 20ms">
					o
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 40ms">
					k
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 60ms">
					 
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 80ms">
					O
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 100ms">
					n
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 120ms">
					e
				</span>
					</span>
		<span class="absolute inline-flex top-0 left-0">
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 0ms">
					A
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 20ms">
					s
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 40ms">
					k
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 60ms">
					 
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 80ms">
					O
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 100ms">
					n
				</span>
							<span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 120ms">
					e
				</span>
					</span>
	</span>

				</a>
			</li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<script>
const button = document.querySelector('button[data-collapse-toggle="navbar-default"]');
const menu = document.getElementById('navbar-default');

button.addEventListener('click', () => {
  menu.classList.toggle('hidden');  // Toggle visibility of the menu
  button.setAttribute('aria-expanded', menu.classList.contains('hidden') ? 'false' : 'true');
});
</script>
