<button aria-pressed="false" class="flex select-none items-center justify-center gap-[8px] rounded-md border px-[10px] py-[8px] outline-none tablet:h-fit tablet:min-w-[auto] tablet:flex-grow-0 h-[42px] min-w-[200px] flex-grow bg-blue-secondary hover:bg-blue-200 aria-pressed:bg-blue-300 aria-pressed:hover:bg-blue-300 text-blue-primary border-blue-primary"><p class="text-body-md font-normal">New Component</p></button>
<input class="border-2 border-rose-600 ...">
        <%= form_tag('/test/post',:method => :psot) do %>
            <input type="text" name="test" id="">
            <button type="submit">送信</button>
        <% end %>