<style>
  #header { transition: transform 0.3s 0.3s; }
  #header.header_hidden { transform: translateY(-80px); }
</style>
<script src="//unpkg.com/alpinejs"></script>

<div x-data="{ open: false }">
  <header class="sticky top-0 bg-white" id="header">
    <nav class="relative items-center pt-5 px-4 mx-auto max-w-screen-xl sm:px-8 sm:flex sm:space-x-6">
      <div class="flex justify-between">
        <a href="javascript:void(0)"><%= image_tag "picbro_logo.png", size: "120x50", alt: "picbro logo" %></a>
        <button class="text-gray-500 outline-none sm:hidden"
                @click="open = !open"
        >
          <template x-if="open">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </template>
          <template x-if="!open">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </template>
        </button>
      </div>
      <ul :class="{'hidden': !open, 'block': open}" class="shadow-md rounded-md p-4 flex-1 mt-12 absolute z-20 top-8 right-4 w-64 border sm:shadow-none sm:block sm:border-0 sm:mt-0 sm:static sm:w-auto gap-x-5 ml-12 lg:flex xl:gap-x-6">
        <div class="order-1 justify-end items-center space-y-5 sm:flex sm:space-x-6 sm:space-y-0">
          <li class="text-gray-500 hover:text-indigo-600">
          <a class="py-3 group" href="/ask-one/" aria-label="Ask One">
          <span class="relative block overflow-hidden" aria-hidden="true">
            <span class="inline-flex">
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 0ms">
                A
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 20ms">
                b
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 40ms">
                o
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 60ms">
                u 
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 80ms">
                t
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 100ms">
                
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 120ms">
                M
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 140ms">
                e
              </span>
            </span>

            <span class="absolute inline-flex top-0 left-0">
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 0ms">
                A
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 20ms">
                b
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 40ms">
                o
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 60ms">
                u 
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 80ms">
                t
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 100ms">
                
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 120ms">
                M
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 140ms">
                e
              </span>
            </span>
          </span>
          </a>
          </li>
          <li class="text-gray-500 hover:text-indigo-600">
          <a class="py-3 group" href="/ask-one/" aria-label="Ask One">
          <span class="relative block overflow-hidden" aria-hidden="true">
            <span class="inline-flex">
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 0ms">
                使
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 40ms">
                い
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 80ms">
                方
              </span>
            </span>

            <span class="absolute inline-flex top-0 left-0">
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 0ms">
                使
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 40ms">
                い
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 80ms">
                方
              </span>
            </span>
          </span>
          </a>
          </li>
          <li class="text-gray-500 hover:text-indigo-600">
          <a class="py-3 group" href="/ask-one/" aria-label="Ask One">
          <span class="relative block overflow-hidden" aria-hidden="true">
            <span class="inline-flex">
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 0ms">
                問
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 20ms">
                い
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 40ms">
                合
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 60ms">
                わ
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 text-gray-090 opacity-100 group-hover:-translate-y-full group-hover:opacity-0" style="transition-delay: 80ms">
                せ
              </span>
            </span>

            <span class="absolute inline-flex top-0 left-0">
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 0ms">
                問
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 20ms">
                い
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 40ms">
                合
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 60ms">
                わ
              </span>
              <span class="inline-block transition-[color,transform,opacity] duration-700 group-hover:duration-200 opacity-0 translate-y-full group-hover:translate-y-0 group-hover:opacity-100" style="transition-delay: 80ms">
                せ
              </span>
            </span>
          </span>
          </a>
          </li>
        </div>
      </ul>
    </nav>
  </header>
  <section class="mt-24 mx-auto max-w-screen-xl pb-4 px-4 items-center lg:flex md:px-8">
    <div class="space-y-4 flex-1 sm:text-center lg:text-left">
      <h1 class="text-gray-800 font-bold text-4xl xl:text-5xl">
        無料で安全なブラウジングを<br>
        <span class="text-indigo-600"> 仮想ブラウザで</span>
      </h1>
      <p class="text-gray-500 max-w-xl leading-relaxed sm:mx-auto lg:ml-0">
        picbroは画面転送方式の仮想ブラウザです。サイトの画面だけを表示するのでウイルスなどが入る心配は一切ありません。
      </p>
      <div>
        <p class="text-gray-800 py-3">
          仮装ブラウザを体験する（無料）
        </p>
        <form class="items-center space-y-3 sm:justify-center sm:space-x-3 sm:space-y-0 sm:flex lg:justify-start">
          <input
            type="text"
            placeholder="URLを入力"
            class="text-gray-500 border outline-none p-3 rounded-md w-full sm:w-72"
          />
          <button class="outline-none bg-gray-700 text-white text-center px-4 py-3 rounded-md shadow w-full ring-offset-2 ring-gray-700 focus:ring-2 sm:w-auto">
            search
          </button>
        </form>
      </div>
    </div>
    <div class="flex-1 text-center mt-4 lg:mt-0 lg:ml-3">
      <img src="https://i.postimg.cc/kgd4WhyS/container.png" class="w-full mx-auto sm:w-10/12 lg:w-full" />
    </div>
  </section>
  <div style="height:10000px">sss</div>
</div>
<script>
  //ヘッダーを出し入れ
const header = document.querySelector('header');
let prevY = window.scrollY; // 前回のスクロール位置を初期化

window.addEventListener('scroll', () => {
  const currentY = window.scrollY; // 現在のスクロール位置を取得
  if (currentY < prevY) { // 上にスクロールしている場合
    header.classList.remove('header_hidden'); // hiddenクラスを削除して表示する
  } else { // 下にスクロールしている場合
  if (currentY > 0) { //Safariなどのバウンススクロール対策
      header.classList.add('header_hidden'); // hiddenクラスを追加して非表示にする
    }
  }
  prevY = currentY; // 前回のスクロール位置を更新
});
</script>